# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
.htaccess
sites/*/files
sites/*/private
400.shtml
401.shtml
403.shtml
404.shtml
500.php
500.shtml
error_log
