/* Color Breakdown
-------------------------------------------------------------- */
/* Teal background on home page facebook feed & Pull Down Menu = #77c3c6 */
/* Light green background color of page is more than 960px = #bde3dc */
/* Top Navigation Font Color  = #91e4e7 */
/* Top Navigation Font Hover  = #d4f97e */
/* Top Navigation Pull Down Hover  = #208197 */




/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  background-color: #bde3dc;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-size: 1em;
  line-height: 180%;   /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
}

/* Default link styles - separate a:visited for a different visited link style */
a,
a:link,
a:visited {
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover,
a:focus,
a:active {
	color: #d4f97e;
}

.button a,
.button a:link,
.button a:visited,
a.button,
a.button:link,
a.button:visited {
	
}

.button a:hover,
.button a:active,
a.button:hover,
a.button:active {
	
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  font-weight: normal;
  line-height: 150%;
  margin: 0;
  margin-top: 10px;
}

.footer-message {
  font-size: 90%;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Add float here to put logo and site name side by side, also add margins as
  needed */
#logo {
  float: left;
  margin: -30px 0px 0px 3px;
  position: absolute;
  z-index: 10;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
}




/* Typography for site slogan */
#slogan {
}

/* Home Page Settings (Front)
-------------------------------------------------------------- */
.front .main-group{
	width: 700px;
}

.front .main-group .gutter,
.front .grid12-12 .region-content {
	margin: 0px;
}

.front .sidebar-first {
	height: 355px;
}

.front .block-system {
	width: 700px;
	height: 400px;
/* 	background-color: red; */
	margin: 0px;
}

.front .region-content{
	width: 700px;
	height: 460px;	
}

.front .content-inner{
	height: 460px;
}

/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that skin styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
/*
  min-height: 100%;
  min-width: 100%;
  height: auto;
*/
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
  width: 960px;
  background-color: white;
  margin: auto;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
}

.header-group {
}

/* Header Top region which sits above the header */
/* Works well with inline login or inline menu block style */
.header-top-wrapper {
	background-color: transparent;
	overflow: visible;
}

.header-top {
	background: url(../images/b_top_nav.jpg) no-repeat 0% 0px;
	width: 960px;
	height: 36px;
	overflow: visible;
}

.header-top-inner{
/*   background: url(../images/tcrehablogo.png) no-repeat 2% 5px; */
  position: absolute;
	height: 120px;
	width: 960px;
	overflow: visible;
}


/******************************
 Global CSS for ALL menu types for Nice Menus
******************************/

#block-nice-menus-1 .gutter{
	margin: 0px;
}

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 0px solid #ccc;
  background-color: transparent;
}

ul.nice-menu li {
  border: 0px solid #ccc;
  border-top: 0;
  float: left; /* LTR */
  background-color: transparent; /*Menu Item Background Color ie: Home, Who We Are, etc… */
	height: 36px;
}

ul.nice-menu a {
  padding: 0.3em 2px 0.3em 2px;
  color: #91e4e7;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: 16px; /* Determines the size of the font for the Menu Items ie: Home, Who We Are, etc... */
	letter-spacing: 1px;
}

ul.nice-menu a:hover {
	color: #d4f97e;
	text-decoration: none;
}

ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 0px solid #ccc;
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}


/******************************
 HORIZONTAL (down) Nice Menus
******************************/

.block-nice-menus {
	margin: 0px 0px 0px 260px;
	width: 700px;
}

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
  margin-top: 5px;
  background-color: transparent;
}

ul.nice-menu-down li {
  border-top: 0px solid #ccc;
  margin-bottom: 8px;
}

ul.nice-menu-down li li {
  border-top: 0;
  background-color: #77c3c6; /*Background Color of the drop down */
  width: 8em;
  height: 30px;
}

/*
ul.nice-menu-down li li.menu-538.odd,   Needs further development for custom widths pull downs.
ul.nice-menu-down li li.even{
 background-color: fuchsia;
 width: 9.5em;
}
*/

ul.nice-menu-down li li a{
	color: #FFF; /* Color of Drop Down Text */
	font-size: 12px;
}

ul.nice-menu-down li li a:hover{
	color: #208197; /* Color of Drop Down Text that the mouse is over */
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
  padding-right: 10px; /* LTR */
}

ul.nice-menu-down li.menuparent {
  background: transparent right center no-repeat; /* LTR */
}

ul.nice-menu-down li.menuparent:hover {
  background: transparent right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent {
/*   background: #eee url(arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
/*   background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}


/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding: 0px 15px 0px 15px; /* LTR */
  background-image: none;
}

#block-nice_menus-1 ul.nice-menu li.menu-524.last { /* This rule is needed to prevent wrap-around occurrning on iPads */
/* 	background-color: fuchsia; */
	padding-right: 7px;
}


#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #eee;
}

ul.nice-menu ul {
  top: 30px; /* Determines how far down the Pull Down Menu Appears!!! !@#$*************************/
  left: -1px; /* LTR */
  border: 0;
  border-top: 0px solid #ccc;
  margin-right: 0; /* LTR */
}


/**
 * HORIZONTAL (down) Nice Menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
/*   background: #eee url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
/*   background: #ccc url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
/*   background: #eee url(arrow-right.png) right center no-repeat; /* LTR */ 
}

#header-region ul.nice-menu-down li li.menuparent:hover {
/*   background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}

/* Homepage Quick Access Menu Settings under the Slide Show
/-------------------------------------------------------------- */
#block-nice-menus-3{
	background: url(../images/b_home3buttons.jpg) no-repeat 0% 0px;
	margin: 0px;
	height: 60px;
}

#block-nice-menus-3 .nice-menu{
/* 	background-color: fuchsia; */
	height: 40px;
	margin: 10px 0px;
}

#block-nice-menus-3 ul.nice-menu li{
	padding: 0px 32px;
	height: 40px;
}

#block-nice-menus-3 ul.nice-menu li.first{
	border-right: #fff solid 1px;
}

#block-nice-menus-3 ul.nice-menu li.last{
	border-left: #fff solid 1px;
}

#block-nice-menus-3 .nice-menu a {
	font-family: 'Roboto Condensed', 'Verdana', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #91e4e7;
	margin-top: 3px;
}

#block-nice-menus-3 .nice-menu a:hover {
	color: #d4f97e;
}

/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

/*  Preface Bottom Regions For Top Header Images
-------------------------------------------------------------- */

.preface-bottom-inner .block .gutter{
	margin: 0px;
}



.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
}


/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.main-inner .sidebar-first {
	background-color: #77c3c6;
	width: 200px;
	padding: 75px 30px 30px 30px;
/* 	height: 355px; */
}

.main-inner .sidebar-first-inner a{
	color: #FFF;
	font-family: 'Roboto', 'Verdana', sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300;
}

.main-inner .sidebar-first-inner p{
	line-height: 170%;
}

.main-inner .sidebar-first-inner a:hover{
	color: #d4f97e;
	text-decoration: none;
}

.main-inner .sidebar-first-inner .views-field-field-facebook-post{
	padding: 0px 5px;
}

.main-inner .view-facebook-feed-block .views-row-first{
/* 	background-color: fuchsia; */
	margin: 5px 0px 17px 0px;
	padding: 0px 0px 5px 0px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-bottom-width: 1px;
}

.main-inner .view-facebook-feed-block .views-more-link{
	color: #208197;
}


.main-inner .sidebar-first-inner{
	border-style: solid;
	border-width: 1px;
	border-color: #FFF;
	height: 355px;
}

.main-inner .sidebar-first-inner .block{
	background-color: #77c3c6;
	width: 193px;
	padding: 0px 2px 0px 2px;
}

.main-inner .sidebar-first-inner .block h2{
	color: #FFF;
	font-size: 14px;
  font-family: 'Roboto Condensed', 'Verdana', sans-serif;
  text-transform: uppercase;
	letter-spacing: 4px;
	padding-top: 14px;
	margin-left: -12px;
	padding-left: 23px;
	padding-bottom: 13px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	border-bottom-width: 1px;
	width: 175px;
	margin-bottom: 17px;
	
}

.sidebar-second {
}


/* Content Regions
-------------------------------------------------------------- */
.content {
}

.region-content .gutter{
	margin: 0px;
}

.content-inner {
}

.grid12-12 h1{
	margin: 20px 70px 25px 70px;
	color: #92d6e6;
	font-size: 45px;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
}

.grid12-12 .region-content{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 300;
	margin: 0px 170px 0px 170px;
	width: 620px;
	font-size: 14px;
	line-height: 200%;
	color: #58585B;
}


.grid12-12 .region-content address{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 300;
  font-style: normal; 
	margin: 0px 0px 0px 50px;
	font-size: 14px;
	line-height: 160%;
	color: #58585B;
/* 	background-color: aqua; */
}


.grid12-12 .region-content h3{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 100;
  font-size: 18px;
  line-height: 200%;
  color: #808284;
}

.grid12-12 .region-content h5{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  color: #006C7B;
  font-size: 16px;
  letter-spacing: 1px;
}


.grid12-12 .region-content h6{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  color: #006C7B;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 25px;
  margin-bottom: 0px;
}



.grid12-12 .region-content p{
	margin: 0px 0px 10px 0px;
}


#pid-who-we-are .grid12-12 .region-content{
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 300;
	margin: 0px 70px;
	width: 820px;
}

#pid-who-we-are .grid12-12 .field-type-image {
	float: left;
	width: 100px;
	position: absolute;
}

#pid-who-we-are .field-name-body {
	float: left;
	width: 640px;
	margin-left: 180px;
/* 	background-color: lime; */
}

/* Staff Page
-------------------------------------------------------------- */


#pid-staff .grid12-12 h2{
	margin: 0px 20px 0px 0px;
	float: left;
	width: 160px;
	color: #006d7b;
/* 	background-color: yellow; */
	text-align: right;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing: 2px;
  padding-top: 36px; 
}

#pid-staff .region-content {
	float: left;
	width: 820px;
	margin-left: 70px;
	margin-right: 70px;
/* 	background-color: green; */
}

/*
#pid-staff .region-content .gutter,
#pid-case-studies .region-content .gutter,
#pid-testimonials .region-content .gutter{
	margin: 0px;
}
*/

#pid-staff .views-row{
	float: left;
	width: 820px;
/* 	background-color: lime; */
}


#pid-staff .views-field-body{
	float: left;
/* 	background-color: aqua; */
	width: 460px;
	margin-left: 0px;
	margin-right: 20px;
	border-top: solid 1px #208197;
	padding-top: 36px;
	padding-bottom: 24px;
}

#pid-staff .views-field-body p{
	float: left;
/* 	background-color: red; */
	width: 460px;
	margin-left: 0px;
	margin-bottom: 10px;
}

#pid-staff .views-field-field-staff-image{
	float: left;
	width: 160px;
	padding-top: 36px;
	margin-bottom: 24px;
}

#pid-staff .views-row-first .views-field-field-staff-image,
#pid-staff .views-row-first .views-field-body,
#pid-staff .views-row-first h2 {
	border-top: none;
	padding-top: 0px;
}


/* Testimonials Page - Needs to float from Right to left since how the design of elements flow.
-------------------------------------------------------------- */
#pid-testimonials .region-content {
	display: block;
	float: right;
	width: 820px;
	margin-left: 70px;
	margin-right: 70px;
/* 	background-color: green; */
}

#pid-testimonials .views-row{
	display: block;
	float: right;
	width: 820px;
/* 	background-color: lime; */
	overflow: visible;
	margin-bottom: 0px;
}

#pid-testimonials .views-field-field-patient-image{
	display: block;
	float: right;
	width: 160px;
	padding-top: 36px;
/* 	margin-bottom: 20px; */
	border-bottom: solid 1px #fff; /* Need this in case there is no photo of the Pet */
}

#pid-testimonials .views-field-field-patient-testimonial{
	float: right;
/* 	background-color: aqua; */
	width: 460px;
	margin-right: 20px;
	margin-left: 0px;
	padding-top: 36px;
	margin-bottom: 36px;
	border-top: solid 1px #208197;
}

#pid-testimonials .grid12-12 h2{
	display: block;
	margin: 0px 20px 0px 0px;
	padding-top: 36px;
	float: right;
	width: 160px;
	color: #006d7b;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing: 2px; 
/* 	background-color: yellow; */
	text-align: right;
}

#pid-testimonials .views-field-field-patient-breed{
	float: right;
	text-align: right;
	width: 160px;
	margin-right: 20px;
/* 	background-color: fuchsia; */
}

#pid-testimonials .views-field-field-patient-diagnosis{
	float: right;
	text-align: right;
	margin-right: 20px;
	width: 160px;
/* 	background-color: fuchsia; */
}

#pid-testimonials .views-field-field-patient-testimonial-date{
	float: right;
	text-align: right;
	margin-right: 20px;
	width: 160px;
	font-style: italic;
	font-weight: 300;
/* 	background-color: fuchsia; */
}

#pid-testimonials .views-field-field-patient-owner{
/* 	background-color: maroon; */
	float: right;
	margin-top: -20px;
	margin-left: 0px;
	margin-right: 180px; 
	width: 460px;
	text-align: right;
	font-weight: 400;
	font-style: italic;
	color: #208197;
	padding-bottom: 24px;
}


#pid-testimonials .views-row-first .views-field-field-patient-image,
#pid-testimonials .views-row-first .views-field-field-patient-testimonial,
#pid-testimonials .views-row-first h2 {
	border-top: none;
	padding-top: 0px;
}





/* Case Studies Page - Needs to float from Right to left since how the design of elements flow.
-------------------------------------------------------------- */

#pid-case-studies .region-content {
	display: block;
	float: right;
	width: 820px;
	margin-left: 70px;
	margin-right: 70px;
/* 	background-color: green; */
}

#pid-case-studies .views-row{
	display: block;
	float: right;
	width: 820px;
/* 	background-color: lime; */
	overflow: visible;
	margin-bottom: 0px;
}

#pid-case-studies .views-field-field-patient-image{
	display: block;
	float: right;
	width: 160px;
	padding-top: 36px;
	margin-bottom: 20px;
 	border-bottom: solid 1px #fff; /* Need this in case there is no photo of the Pet */ 
}

#pid-case-studies .grid12-12 h2{
	display: block;
	margin: 0px 20px 0px 0px;
	padding-top: 36px;
	float: right;
	width: 160px;
	color: #006d7b;
  font-family: 'Roboto', 'Verdana', sans-serif;
  font-weight: 400;
  text-transform:uppercase;
  letter-spacing: 2px; 
/* 	background-color: yellow; */
	text-align: right;
}

#pid-case-studies .views-field-field-patient-breed{
	float: right;
	text-align: right;
	width: 160px;
	margin-right: 20px;
/* 	background-color: fuchsia; */
}

#pid-case-studies .views-field-field-patient-age{
	float: right;
	text-align: right;
	width: 160px;
	margin-right: 20px;
	font-style: italic;
	font-weight: 300;
/* 	background-color: fuchsia; */
}

#pid-case-studies .views-field-field-patient-case-study-details{
	float: right;
/* 	background-color: aqua; */
	width: 460px;
	margin-right: 20px;
	margin-left: 0px;
	padding-top: 36px;
	margin-bottom: 36px;
	border-top: solid 1px #208197;
}


#pid-case-studies .views-row-first .views-field-field-patient-image,
#pid-case-studies .views-row-first .views-field-field-patient-case-study-details,
#pid-case-studies .views-row-first h2 {
	border-top: none;
	padding-top: 0px;
}

/* Download Forms Page
--------------------------------------------------------------
 - background color was #77c3c6 */
.download-button-01,
.download-button-02,
.download-button-03 {
	float: left;
	display:block;
	margin-top:10px;
	color:#FFFFFF;
	background-color:#9ed9db;
	width:134px;
	font-size: 1.125em;
	font-weight: 400;
	text-align:center;
	line-height: 1.35em;
	padding:12px 30px;
	text-decoration:none;
	letter-spacing:.05em;
	text-transform:uppercase;
	height: 42px;
}

.download-button-01,
.download-button-02{
	margin-right: 19px;
}



#pid-forms a:hover {
	color: #167c92;
	text-decoration: none;
}


/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
	margin: 0px 0px 0px 300px;
}

.footer-wrapper {
}

.footer {
}

.footer-inner {
	background:url(../images/b_footer.jpg) no-repeat 0% 0px;
	height: 200px;
	border-top: solid #fff 2px;
}

.block-footer-sitemap {
	margin: 30px 0px 0px 263px;
	width: 627px;
}

.block-footer-sitemap .gutter,
#footer-sitemap {
	margin: 0px;
}

#footer-sitemap ul li li {
	margin-left: 15px;
}

#footer-sitemap a {
 font-family: 'Roboto', 'Verdana', sans-serif;
 font-size: 12px;
 color: #fff;
}

#footer-sitemap a:hover{
	color: #d4f97e;
	text-decoration: none;
}

#footer-sitemap ul li.menu-537,
#footer-sitemap ul li.menu-483,
#footer-sitemap ul li.menu-501{
	margin-left: 50px;
}

#footer-sitemap ul li.menu-502 {
	margin-left: 35px;
}


#block-block-3{ /* Facbook Icon Link in the Footer */
	width: 29px;
	float: left;
	padding: 0px;
	margin-top: 24px;
}

	#block-block-3 .gutter{
	margin: 0px;
}

.block-bottom-address-bar{
	background-color: #00616f;
	height: 30 px;
	margin-bottom: 0;
	margin-top: 32px;
}

.block-bottom-address-bar .content{
	color: #FFF;
	padding-right: 28px;
	text-align: right;
}

/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.node-teaser {
}

/* Author/date info */
.meta {
}

.submitted {
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 40px;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
  padding: 0px;
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments .comment.odd {
  background-color: #fff;
}

.comments .comment.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}

